{{template "header" .Page}}


<a href="../../index.html">Home</a> &gt;
<a href="../index.html">{{.Folder.Name}}</a> &gt;
<strong>{{.Album.Name}}</strong>
<br /><br />

<div id="album">
{{range .Album.Slides}}
  <a href="slides/{{.ImagePath}}" data-sub-html="{{.Description}}"><img class="thumb" alt="{{.Description}}" src="thumbs/{{.ImagePath}}" /></a>
{{end}}
</div>

<script type="text/javascript">

jQuery("#album")
  .justifiedGallery({
    captions: true,
    rowHeight: 200,
    margins: 5
  })
  .on("jg.complete", function () {
    gallery = lightGallery(document.getElementById('album'), {
      speed: 500,
      closable: true,
      download: true,
      thumbnail: true,
      customSlideName: true,
      plugins: [ lgThumbnail, lgZoom, lgHash ]
    });
  });
</script>

{{template "footer"}}
