{{template "header" .Page}}

<div id="lightgallery">
{{range .Album.Slides}}
  <a data-src="slides/{{.ImagePath}}" data-sub-html="{{.Description}}"></a>
{{end}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js" integrity="sha512-jEJ0OA9fwz5wUn6rVfGhAXiiCSGrjYCwtQRUwI/wRGEuWRZxrnxoeDoNc+Pnhx8qwKVHs2BRQrVR9RE6T4UHBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/autoplay/lg-autoplay.min.js" integrity="sha512-1YRlp9jO1ermVx9E3UzfBwoo88ODK0i9l2C2lNoZwCZAzvRdA+O0Lm00bUfkIf/A1esj4OK9yZ3yfgfa+FcYwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
  galleryElement = document.getElementById('lightgallery');

  gallery = lightGallery(galleryElement, {
    plugins: [],
    speed: 500,
    closable: true,
    download: false,
  });

  // Automatically open
  galleryElement.addEventListener('click', function () {
    gallery.openGallery(0);
  });
  galleryElement.click();

  // Redirect back on close
  galleryElement.addEventListener('lgAfterClose', function () {
    document.location.href = '../';
  });
</script>

{{template "footer"}}
